# Entra ID / Azure AD Configuration
TENANT_ID = "tenant-id"
CLIENT_ID = "client-app-id"
# CLIENT_SECRET = "your-client-secret"
# REDIRECT_URI = "http://localhost:8000/auth/callback"
BACKEND_URL = "http://localhost:8000"