SECRET_KEY= "1234567890"
TENANT_ID= "1234567890"
CLIENT_ID= "1234567890"
CLIENT_SECRET_ID = "0b997068-d43d-4375-9c23-28ac8bca343e"
BACKEND_URL= "localhost:8000"
POSTGRES_DB= "mydb"
POSTGRES_USER= "myuser"
POSTGRES_PASSWORD= "mypassword"
AZURE_CONTAINER_NAME = "mycontainer"
HUBSPOT_ACCESS_TOKEN= "" 
FRONTEND_URL= "localhost"
FILE_STORAGE_ROOT= "./storage"
AZURE_API_SCOPE= "api://1234567890/access_as_user"
CONTAINER_NAME= "mycontainer"
TESTING= "false"
BUILD_TYPE= "dev"
ACS_CONNECTION_STRING= "endpoint=https://<RESOURCE_NAME>.communication.azure.com/;accesskey=<ACCESS_KEY>"
ACS_SENDER_ADDRESS= "DoNotReply@<YOUR_DOMAIN>.com"
ACS_HELPDESK_ADDRESS= "helpdesk@<YOUR_DOMAIN>.com"
LOG_LEVEL= "INFO"
AZURE_STORAGE_CONNECTION_STRING_US: DefaultEndpointsProtocol=""
AZURE_STORAGE_CONNECTION_STRING_EU: DefaultEndpointsProtocol=""
AZURE_STORAGE_CONNECTION_STRING_ITAR: DefaultEndpointsProtocol=""
AZURE_SHARE_NAME = "uploads"