SECRET_KEY= "1234567890"
TENANT_ID= "1234567890"
CLIENT_ID= "1234567890"
BACKEND_URL= "localhost:8000"
POSTGRES_DB= "mydb"
POSTGRES_USER= "myuser"
POSTGRES_PASSWORD= "mypassword"
BACKEND_URL= "localhost:8000"
HUBSPOT_ACCESS_TOKEN= "" 
FRONTEND_URL= "localhost"
